layout {
    tab name="base" focus=true {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{tabs}"
                format_center ""
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"

                tab_normal   "#[fg=#8a7a68]{index}:{name} "
                tab_active   "#[fg=#E29ECA,bold,italic]{index}:{name} "

                datetime        "#[fg=#e0def4,bold] {format} "
                datetime_format "%H:%M"
            }
        }
        children
    }
}
