[Unit]
Description=Apply Dreamcoder theme based on local time

[Service]
Type=oneshot
EnvironmentFile=-%h/Documents/PROYECTOS/dreamcoder-dots/scripts/dreamcoder-env.sh
EnvironmentFile=-%h/.dotfiles/dreamcoder-env.sh
ExecStart=%h/Documents/PROYECTOS/dreamcoder-dots/Systemd/.config/systemd/user/dreamcoder-run.sh
